.cursos {
    padding: 50px 4%;
}
.cursos .cursos-box {
    color: white;
    width: 600px;
    height: 250px;
    margin-top: 80px;
    border-radius: 20px;
    transition: .2s;
    text-align: center;
    align-items: center;
    padding: auto;
}
.cursos .cursos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}
.cursos-box img {
    width: 110px;
    height: 110px;
    border-radius: 20%; 
    align-items: center;
}
.cursos .cursos-box h3 {
    font-size: 25px;
    align-items: center;
}   