html {
      scroll-behavior: smooth;
}

.projetos {
      margin-top: 0;
      
}
.projetos .flex {
      justify-content: space-around;
}
.img-port {
      width: 100%;
      height: 360px;
      background-color: blue;
      background-size: cover;
      background-position: 35% 0% ;
      transition: 0.5s;
      border-radius: 40px;
}
.img-port:hover {
      background-position: 100% 0%;
}
.overlay {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      background-color: rgba(32, 32, 32, 0.664);
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 34px;
      font-weight: 1000;
      opacity: 0;
      transition: .3s;
}
.overlay:hover {
      opacity: 1;
}


