html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    gap: 90px; 
}
section .topo-do-site {
    padding: 100px;
}
section .topo-do-site .flex {
    align-items: center;
    justify-content: center;
}
.topo-do-site h1 {
    color: white;   
    font-size: 80px;
    line-height: 90px;
}
.topo-do-site h1 span {
    color: blue;
    font-size: 80px;
}
.topo-do-site .txt-topo-site {
    color: white;
    margin: 40px 0;
    font-size: 30px;
}
.img-topo-site img {
    border-radius: 30%;
    width: 500px;
    height: 500px;
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
}
main a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
main a:hover {
    color: white;
    transform: scale(1.1);
}
main .btn-contato button {
    position: absolute;
    width: 230px;
    height: 50px;
    font-size: 25px;
    padding: 0;
    margin: 0px;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}
@keyframes flutuar {
    0%{
        top: 0;  
    }
    100%{
        top: 10px;
    }
}